<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">کتاب آشپزی</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a (click)="onSelect('recipe')">دستور غذا</a></li>
        <li><a (click)="onSelect('shopping-list')">لیست خرید</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button">مدیریت<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">ذخیره</a></li>
            <li><a href="">بارگذاری</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
