<div class="row">
  <div class="col-xs-12">
    <img class="img-responsive" src="{{recipeSelected.imagePath}}" alt="">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>{{recipeSelected.name}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  <div class="btn-group" appDropdown>
    <button class="btn btn-primary dropdown-toggle">مدیریت دستور غذا</button>
    <ul class="dropdown-menu">
      <li><a href="">حذف دستور غذا</a></li>
      <li><a href="">ویرایش دستور غذا</a></li>
      <li><a href="">افزودن مواد غذایی</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipeSelected.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
مواد غذایی
  </div>
</div>
</div>
